<!DOCTYPE HTML>
<html>
<head>
    <title>index</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>

<body>
    <h1>index Page.</h1>
    <div>
        <form method="get" action="/register">
            <a href="/register"><button type="button">회원가입</button></a>
        </form>
    </div>
</body>
</html>