<!DOCTYPE HTML>
<html>
<head>
    <title>index</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<script src="https://code.jqeury.com/jquery-3.2.1.min.js"></script>
<script src="/js/app/registerForm.js"></script>

<body>
    <div>
        <form>
            <div class="form_group">
                <label for="user_name">이름</label>
                <input type="text" class="register_form" id="user_name" placeholder="이름">
            </div>
            <div class="form_group">
                <label for="user_birth">생년월일</label>
                <input type="text" class="register_form" id="user_birth" placeholder="ex)19960403">
            </div>
            <div class="form_group">
                <label for="user_tel">번호</label>
                <input type="text" class="register_form" id="user_tel"><br>
                <span> - 제외하고 번호만 입력해주세요.</span>
            </div>
        </form>
        <button type="button" class="btn_cancel">취소</button>
        <button type="button" class="btn_save">등록</button>
    </div>
</body>
</html>
<!--네이버 회원가입 참고-->